/* Clock box */
.clockBox {
  position: relative;
  width: 300px;
  height: 130px;
  margin: auto;
  margin-top: 5%;

  background: #ebeeda;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

/* Clock */
.clock {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 95px;
  line-height: 130px;
  text-align: center;

  color: #000000;
}

/* Buttons */
.button-group {
  margin-left: auto;
}

.mode-button {
  font-size: 14px;
  height: 28px;
  cursor: pointer;
  box-shadow: none;
  font-weight: 400;
  color: #000000;
  border: 1px solid transparent;
  margin: 0px;
  margin-top: 5px;
  border-radius: 4px;
  padding: 4px 12px;
  background: none;
}

.mode-button.active {
  background-color: #ec8585;
}

.startButton {
  cursor: pointer;
  box-shadow: #da5f5fe3 0px 4px 0px;
  font-size: 17px;
  height: 35px;
  text-transform: uppercase;
  color: #000;
  font-weight: bold;
  width: 150px;
  background-color: #ec8585;
  border-width: initial;
  border-style: none;
  margin: auto;
  margin-top: 8px;
  border-radius: 4px;
  transition: color 0.5s ease-in-out 0s;
}

button:focus,
button:active {
  outline: none;
}

.startButton.active {
  transform: translateY(4px);
  box-shadow: none;
  outline: none;
}

.hidden {
  display: none;
}

@media screen and (max-width: 550px) {
  .clock {
    font-size: 6rem;
  }
}
